{% extends 'layouts/base.html' %} {% block title %}Change Password{% endblock %} 
{% block content%}
<div class="container">
  <h2>Change Password</h2>
  <hr>
  <form method="post">
    {% csrf_token %} 
    <!-- {{ form.as_p }} -->
    <table class="tabal table-sm">
      <tr>
          <td><label for="id_old_password">Old Password:</label></td>
          <td ><input type="password" name="old_password" autocomplete="current-password" autofocus="" required="" id="id_old_password"></td>
      </tr>
      <tr>
        <td><label for="id_new_password1">New Password:</label></td>
        <td><input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1"></td>
      </tr>
      <tr>
        <td></td>
        <td>
          <ul style="list-style:none;">
            <li>Your password can’t be too similar to your other personal information.</li>
            <li>Your password must contain at least 8 characters.</li>
            <li>Your password can’t be a commonly used password.</li>
            <li>Your password can’t be entirely numeric.</li>
          </ul>
      </td>
      </tr>
      <tr>
        <td><label for="id_new_password2">New Password Confirmation:</label></td>
        <td><input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2"></td>
      </tr>
      <tr>
          <td><input type="submit" value="Change Password"></td>
          <td></td>
      </tr>
  </table>
  </form>
</div>
{% endblock %}
