{% load i18n %}{% autoescape off %}
{% block translate1 %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblock %}
{% block translate2 %}Please go to the following page and choose a new password:{% endblock %}

{% block reset_link %}{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}{% endblock %}

{% block translate3 %}Your username, in case you’ve forgotten:{{ user.get_username }}{% endblock %}
{% block translate4 %}Thanks for using our site!{% endblock %}

{% block translate5 %}The {{ site_name }} team{% endblock %}

{% endautoescape %}