{% extends 'layouts/base.html' %}
{% block title%}Create Student{% endblock title %}
{% load subtract %}

{% block content %}
{% include 'includes/foreignkeypopupscripts.html'%}
<div class="container">
    <h3>Create Student Profile</h3>
    <hr>
    <form enctype="multipart/form-data" action="" method="post" id="student_form">
        
        <table class="tabal table-sm">
            <tr>
                <td><label for="guardian">Guardian:</label></td>
                <td >{{ std_profile_form.guardian }}</td>
            </tr>
            {%if std_profile_form.guardian.errors %}
                <tr>
                    <td></td>
                    <td ><p class="text-danger">{{ std_profile_form.guardian.errors|striptags }}</p></td>
                </tr>
            {% endif %}
            <tr>
                <td><label for="class_room">Select Class Room:</label></td>
                <td>
                    <select class="form-control" title="Choose Class Room" id="select_class_room" style="font-family: 'FontAwesome';" name='class_room'>
                    <option selected="selected" hidden="hidden">Choose Class Room</option>
                    {% for class_room, pair in class_rooms_with_student_count_dictionary.items %}
                        {% for student_count, student_capacity in pair.items %}
                            {% if student_count < student_capacity %}    
                                <option value={{class_room.room_number}}>
                                    {{class_room}} | &#xf007; &nbsp;
                                    {% if student_capacity|subtract:student_count == 1 %}
                                    {{ student_capacity|subtract:student_count }} Seat Remaining
                                    {% else %}
                                    {{ student_capacity|subtract:student_count }} Seats Remaining
                                    {% endif %}
                                </option>
                             {% else %}
                                <option disabled=True value={{class_room.room_number}}>
                                    {{class_room}} | &#xf235; No Seat Remaining
                                </option>
                            {%endif%}  
                            {% endfor %}
                        {% endfor %}
                    </select>
                </td>
            </tr>
                <tr>
                    <td></td>
                    <td ><p class="text-danger">{{ msg }}</p></td>
                </tr>
            <tr>
                <td><label for="email">Student Email:</label></td>
                <td>{{ std_user_form.email}}</td>
            </tr>
            {%if std_user_form.email.errors %}
                <tr>
                    <td></td>
                    <td ><p class="text-danger">{{ std_user_form.email.errors|striptags }}</p></td>
                </tr>
            {% endif%}
            
            <tr>
                <td><label for="password1">Password:</label></td>
                <td>{{ std_user_form.password1}}</td>
            </tr>
            {%if std_user_form.password1.errors %}
                <tr>
                    <td></td>
                    <td ><p class="text-danger">{{ std_user_form.password1.errors|striptags }}</p></td>
                </tr>
            {% endif%}
            <tr>
                <td><label for="password2">Confirm Password:</label></td>
                <td>{{ std_user_form.password2}}</td>
            </tr>
            {%if std_user_form.password2.errors %}
                <tr>
                    <td></td>
                    <td ><p class="text-danger">{{ std_user_form.password2.errors|striptags }}</p></td>
                </tr>
            {% endif%}
            
            <tr>
                <td><label for="first_name">First Name:</label></td>
                <td>{{ std_user_form.first_name}}</td>
            </tr>
            {%if std_user_form.first_name.errors %}
                <tr>
                    <td></td>
                    <td ><p class="text-danger">{{ std_user_form.first_name.errors|striptags }}</p></td>
                </tr>
            {% endif%}
            
            <tr>
                <td><label for="last_name">Last Name:</label></td>
                <td>{{ std_user_form.last_name}}</td>
            </tr>
            {%if std_user_form.last_name.errors %}
                <tr>
                    <td></td>
                    <td ><p class="text-danger">{{ std_user_form.last_name.errors|striptags }}</p></td>
                </tr>
            {% endif%}
            <tr>
                <td><label for="gender">Gender:</label></td>
                <td>{{ std_profile_form.gender}}</td>
            </tr>
            {%if std_profile_form.gender.errors %}
                <tr>
                    <td></td>
                    <td ><p class="text-danger">{{ std_profile_form.gender.errors|striptags }}</p></td>
                </tr>
            {% endif%}
            <tr>
                <td><label for="photo">Photo:</label></td>
                <td>{{ std_profile_form.photo}}</td>
            </tr>
            {%if std_profile_form.photo.errors %}
                <tr>
                    <td></td>
                    <td ><p class="text-danger">{{ std_profile_form.photo.errors|striptags }}</p></td>
                </tr>
            {% endif%}            
            <tr>
                <td><label for="birth_date">Date of Birth:</label></td>
                <td>{{ std_profile_form.birth_date}}</td>
            </tr>
            {%if std_profile_form.birth_date.errors %}
                <tr>
                    <td></td>
                    <td ><p class="text-danger">{{ std_profile_form.birth_date.errors|striptags }}</p></td>
                </tr>
            {% endif%}
        </table>        
        {% csrf_token %}
        <input type="submit" class="btn btn-secondary" value="Create Student">
    </form>
</div>
    <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet"/>

{% endblock content %}

{% block script %}

{% endblock script %}
