{% load static %}
<html>
    <head>
        <title>{% if user.groups.first.name is null %}Admin{% endif %}{{user.groups.first.name}} | {% block title%}{% endblock %}</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel='stylesheet' href="{% static 'accounts/style.css' %}" type='text/css'>
    </head>
    <body>
        <br>
        <div class="container">
            <!-- Static navbar -->
            <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href={% url 'accounts:profile' %}>School Management System</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                 {% if user.is_authenticated %}
                <ul class="nav navbar-nav">
                    <li><a href={% url 'accounts:profile' %}>Home</a></li>
                    <li><a href={% url 'accounts:edit_profile' %}>Edit Profile</a></li>
                    <li><a href={% url 'password_change' %}>Change Password</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href={% url 'accounts:logout' %}>Logout</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a>Logged in as: {%if user.groups.first.name is null %} Developer {%endif%} {{user.groups.first.name}}</a></li>
                </ul>
                 {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href={% url 'password_reset' %}>Reset Password</a></li>
                    <li><a href={% url 'accounts:login' %}>Login</a></li>
                </ul>
                {% endif %}
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
            </nav>
            {% if user.is_authenticated %} 
            <div class="col-sm-2" style="background-color: #FAFAFA;">
                {% if user.groups.first.name is null %}
                        {% include "includes/adminSidebar.html" %}
                {% elif user.groups.first.name == 'Principal' %}
                        {% include "includes/principalSidebar.html" %}
                {% elif user.groups.first.name == 'HR' %}
                        {% include "includes/hrStaffSidebar.html" %}
                {% elif user.groups.first.name == 'Teacher' %}
                        {% include "includes/teacherSidebar.html" %}
                {% elif user.groups.first.name == 'Student' %}
                        {% include "includes/studentSidebar.html" %}
                {% elif user.groups.first.name == 'Parent' %}
                        {% include "includes/parentSidebar.html" %}
                {% endif %}
            </div>
            {% endif %}
            <div class="container col-sm-9" id="content" >
                {% block content %}
                {% endblock %}
            </div>
        </div> <!-- /container -->
    {% block script %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.17/css/bootstrap-select.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.17/js/bootstrap-select.js"></script>
    {% endblock script %}
    </body>
</html>