
<div class="c-sidebar c-sidebar-dark c-sidebar-show">
    <ul class="c-sidebar-nav">
      <li class="c-sidebar-nav-title">Principal</li>
      <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" href={% url 'accounts:create_hr' %}>
          <i class="c-sidebar-nav-icon cil-speedometer"></i> Create HR
        </a>
      </li>
      <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" href="#">
          <i class="c-sidebar-nav-icon cil-speedometer"></i> Approve Account
          <!-- <span class="badge badge-primary">NEW</span> -->
        </a>
      </li>
      <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" href="#">
          <i class="c-sidebar-nav-icon cil-speedometer"></i> Leaves & Salaries
          <!-- <span class="badge badge-primary">NEW</span> -->
        </a>
      </li>
      <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" href="#">
          <i class="c-sidebar-nav-icon cil-speedometer"></i> Event
          <!-- <span class="badge badge-primary">NEW</span> -->
        </a>
      </li>
      <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" href="#">
          <i class="c-sidebar-nav-icon cil-speedometer"></i>  View Progress
          <!-- <span class="badge badge-primary">NEW</span> -->
        </a>
      </li>
    </ul>
  </div>