{% extends 'layouts/base.html' %} 

{% block title %} Login {% endblock %}

{% block content%}
<div class="container">
  <h3>Login</h3>
  <hr>
  <form method="post">   
    <table class="tabal table-sm">
        <tr>
            <td><label for="Email">Email Address:</label></td>
            <td ><input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="254" required="" id="id_username"></td>
        </tr>
        <tr>
          <td><label for="password">Password:</label></td>
          <td ><input type="password" name="password" autocomplete="current-password" required="" id="id_password"></td>
      </tr>
    </table>        
    {% csrf_token %}
    <input type="submit"  value="Login">
</form>
</div>
{% endblock %}
