{% extends 'layouts/base.html' %}
{% block title%}Levels{% endblock title %}
{% block content %}
<div class="container">
    <h3>Levels we teach</h3>
    <table class="table table-sm table-striped">
        <thead>
            <tr>
                <th>S.No.</th>
                <th>Level Name</th>
            </tr>
        </thead>
        <tbody>
            {% for level in levels %}
            <tr>
                <th>{{ forloop.counter }}</th>
                <td>{{level.name}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'campus:add_level' %}">Add New Level</a>
    <hr>
    <p><sup>*</sup> Levels define the standard of school, like primary school, middle school, or higher secondary school in this system</p>
</div>
{% endblock content %}
{% block script %}
{% endblock script %}
